# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/

# Django & DB
*.sqlite3
*.db
*.log

# Environments
.env
.venv/
venv/
env/
ENV/
*.env.*

#cognito bypass - local auth testing
middleware/

#auth
cognito_users.json